D:/
C:/
*.log
chromedriver*
*swp
*~
infinitest.filters
chromedriver.log
current-tag.txt
deployments
atlassian-ide-plugin.xml
.sonar-ide.properties
.sonar
.classpath
.project
.settings
.regtest.swp
opt/gatling-charts-highcharts-1.3.5/results/
gatling-charts-highcharts-1.3.5/results/*
bin
!/opt/gatling-charts-highcharts-1.3.5/bin
!opt/jmeter/apache-jmeter-2.8/bin
build-zadelhoff.sh
bva.ipr
bva.iws
nb-configuration.xml
nbactions*.xml
profiles.xml
settings.xml
.sublime-project
.sublime-workspace
target/
undeploy.sh
.metadata
jmeter.log
jmeter/*.log
jmeter/acc_users_randomized.csv
/opt/cache

**/YOUR JREBEL LIMITED LICENSE HAS EXPIRED.error
YOUR JREBEL LIMITED LICENSE HAS EXPIRED.error
null/*

*.hsp

.pmd
.checkstyle

/bva.sublime-project
/bva.sublime-workspace
zzzTest

jmeter/acc_results.csv
jmeter/acc_users_randomized.csv
jmeter/acc_aggregate.csv
jmeter/prod_results.csv
jmeter/prod_users_randomized.csv
jmeter/prod_aggregate.csv

opt/gatling-maven/results

/opt/Adyen-skins/*.zip
/opt/Adyen-skins/mgqBWpg7
/opt/Adyen-skins/sdlNXgVT

activemq-data/
.vagrant/
api/src/main/webapp/res/docs/*

/mail

/admin/docker/*.war
/api/docker/*.war
/site/docker/*.war

*.iml
**/*.iml
!.idea/
.idea/*
.idea/encodings.xml
.idea/codeStyles/
.idea/codeStyles/*
!.idea/runConfigurations/
.idea/runConfigurations/*
!.idea/runConfigurations/*__shared_.xml

**/.DS_Store
